In [1]:
import pandas as pd
import numpy as np
import json

# Read json file from data/GRE/practice-gre.json as a dictionary
with open('data/GRE/practice-gre.json') as f:
    data = json.load(f)

# Make a df from data['questions'] and flip the rows and columns
qs = pd.DataFrame(data['questions']).T
l = pd.DataFrame(data['lines']).T

In [2]:
qs.head()

,section,type,passage,prompt,blanks,answer,p+,explanation,lines_id,context,choices,not-applicable,quantities
S3Q1,3,text_completion,{},Many find it strange that her writing is thoug...,"[{'id': 'i', 'choices': [{'label': 'A', 'text'...",[E],57,optional_explanation_text_1,NaN,NaN,NaN,NaN,NaN
S3Q2,3,text_completion,{},Most spacecraft are still at little risk of co...,"[{'id': 'i', 'choices': [{'label': 'A', 'text'...",[E],49,optional_explanation_text_2,NaN,NaN,NaN,NaN,NaN
S3Q3,3,text_completion,{},The author presents the life of Zane Grey with...,"[{'id': 'i', 'choices': [{'label': 'A', 'text'...",[C],72,optional_explanation_text_3,NaN,NaN,NaN,NaN,NaN
S3Q4,3,text_completion,{},The unironic representation of objects from ev...,"[{'id': 'i', 'choices': [{'label': 'A', 'text'...","[A, E]",43,optional_explanation_text_4,NaN,NaN,NaN,NaN,NaN
S3Q5,3,text_completion,{},"A newly published, laudatory biography of Geor...","[{'id': 'i', 'choices': [{'label': 'A', 'text'...","[A, E]",None,,NaN,NaN,NaN,NaN,NaN

In [3]:
l['content']['S3_Questions_9_11']

['Historian F. W. Maitland observed that legal',
 'documents are the best–indeed, often the',
 'only–available evidence about the economic and',
 'social history of a given period. Why, then, has it',
 'taken so long for historians to focus systematically on',
 'the civil (noncriminal) law of early modern',
 '(sixteenth- to eighteenth-century) England? Maitland',
 'offered one reason: the subject requires researchers to',
 '"master an extremely formal system of pleading and',
 'procedure." Yet the complexities that confront those',
 'who would study such materials are not wholly',
 'different from those recently surmounted by',
 'historians of criminal law in England during the same',
 "period. Another possible explanation for historians'",
 'neglect of the subject is their widespread assumption',
 'that most people in early modern England had little',
 'contact with civil law. If that were so, the history of',
 'legal matters would be of little relevance to general',
 'historical scholarship. But recent research suggests',
 'that civil litigation during the period involved',
 'artisans, merchants, professionals, shopkeepers, and',
 'farmers, and not merely a narrow, propertied, male',
 'elite. Moreover, the later sixteenth and early',
 'seventeenth centuries saw an extraordinary explosion',
 'in civil litigation by both women and men, making',
 'this the most litigious era in English history on a']

In [4]:
l

                   title                                            content
S3_Questions_9_11         [Historian F. W. Maitland observed that legal,...
S3_Questions_12_13        [Geese can often be seen grazing in coastal, s...
S3_Questions_14_14        [Last year, Mayor Stephens established a speci...
S3_Questions_20_22        [The decrease in responsiveness that follows, ...
S3_Questions_23_24        [Among academics involved in the study of, Nor...
S3_Questions_25_25        [Recently an unusually high number of dolphins...
S4_Questions_9_12         [The work of English writer Aphra Behn, (1640-...
S4_Questions_13_14        [Computers cannot accurately predict climate, ...
S4_Questions15_15         [Extensive housing construction is underway in...
S4_Questions_20_21        [While chocolate was highly esteemed in, Mesoa...
S4_Questions_22_23        [Biologists generally agree that birds and din...
S4_Questions_24_25        [A portrait type that appeared with relentless...

In [5]:
'S4_Questions_24_25' in l.title

True

In [11]:
for i in range(len(qs['section'])):
    print(qs.iloc[i]['lines_id'])
    print(qs.iloc[i]['lines_id'] in l.title)
    if qs.iloc[i]['lines_id'] in l.title:
        print(i)
        qs.iloc[i]['x'] = l['content'][qs.iloc[i]['lines_id']]
        print(f"Found {qs.iloc[i]['lines_id']} in l.title")
        print(f"qs.iloc[i]['passage'] = {qs.iloc[i]['passage']}")

nan
nan
nan
nan
nan
nan
nan
nan
S3_Questions_9_11
S3Q9

ValueError: Must have equal len keys and value when setting with an iterable

In [ ]:
l.head()

In [ ]:
qs['type'].value_counts()

In [ ]:
rc = qs[qs['type'] == 'reading_comprehension']

In [ ]:
rc

In [ ]:
rc['passage']['S3Q9']

In [ ]:
rc['prompt']['S3Q9']

In [ ]:
rc['blanks']['S3Q9']

In [ ]:
mcq = qs[qs['type'] == 'multiple_choice']

In [ ]:
mcq['choices']['S5Q11']

In [ ]:
for i in range(len(mcq['section'])):
    # construct the prompt with the prompt and the choices. Loop through the choices and add them as 'key) value'. Choices are in a dictionary like {'A': '1', 'B': '0', 'C': '-1', 'D': '-2', 'E': '-3'}
    prompt = mcq.iloc[i]['prompt'] + ' ' + ' '.join([f"{k}) {v}" for k, v in mcq.iloc[i]['choices'].items()])
    print(prompt)
    print(' ')
    # add the prompt to the mcq df as a new column called 'question'
    mcq.iloc[i]['question'] = prompt

In [ ]:
for index, row in mcq.iterrows():
    # construct the prompt with the prompt and the choices. Loop through the choices and add them as 'key) value'. Choices are in a dictionary like {'A': '1', 'B': '0', 'C': '-1', 'D': '-2', 'E': '-3'}
    prompt = row['prompt'] + ' ' + ' '.join([f"{k}) {v}" for k, v in row['choices'].items()])
    print(prompt)
    print(' ')
    # add the prompt to the mcq df as a new column called 'question'
    mcq.at[index, 'question'] = prompt

In [ ]:
mcq

In [ ]:
df = pd.read_json('data/GRE/practice-gre.json')
df.head()

In [ ]:
# save the df 'qs' as a json file named 'data/GRE/full_data.json'
qs.to_json('data/GRE/gre.json')

In [ ]:
mcq.to_json('data/GRE/mcq.json')